@model List<HospitalMngSys.Models.Appointment>

<h2 class="text-2xl font-bold mb-4">Appointment List</h2>

<div class="mt-4">
    <table class="table-auto border-collapse border-b border-b-gray-200 w-full">
        <!-- Table Header -->
        <thead>
            <tr class="border-b-2 border-b-gray text-center">
                <th class="px-2 py-2">AppointmentId</th>
                <th class="px-4 py-2 text-left">Patient_id</th>
                <th class="px-2 py-2 text-left">Doctor_id</th>
                <th class="px-2 py-2 text-right">Concern</th>
                <th class="px-2 py-2 text-center">Status</th>
                <th class="px-2 py-2 text-center">Appointment_date</th>
                <th class="px-2 py-2 text-center">Appointment_time</th>
                <th class="px-2 py-2 text-center" colspan="3">Actions</th>
            </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
            @foreach (var app in Model)
            {
                <tr class="border-b border-b-gray align-middle text-center">
                    <td class="px-4 py-2">@app.AppointmentId</td>
                    <td class="px-4 py-2 text-left">@app.Patient_id</td>
                    <td class="px-4 py-2 text-left">@app.Doctor_id</td>
                    <td class="px-4 py-2 text-right">@app.Concern</td>
                    <td class="px-4 py-2">@app.Status</td>
                    <td class="px-4 py-2">@app.Appointment_date</td>
                    <td class="px-4 py-2">@app.Appointment_time</td>
                    

                    <!-- Action Buttons -->
                    <td class="px-4 py-2">
                        <a href="/Appointment/Details/@app.AppointmentId"
                           class="bg-green-600 text-white px-3 py-1 rounded-md hover:bg-green-700">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </td>
                    <td class="px-4 py-2">
                        <a href="/Appointment/Edit/@app.AppointmentId"
                           class="bg-blue-600 text-white px-3 py-1 rounded-md hover:bg-blue-700">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td class="px-4 py-2">
                        <form asp-controller="Appointment" asp-action="Delete" asp-route-id="@app.AppointmentId" method="post">
                            <button type="submit" class="bg-red-600 text-white px-3 py-1 rounded-md hover:bg-red-700">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

