@model HospitalMngSys.Models.Patient

<div class="max-w-xl mx-auto mt-10 bg-[#0E1624] text-[#99A1AF] rounded-lg shadow-lg p-6 border border-[#99A1AF]/30">
    <h2 class="text-2xl font-bold mb-6 border-b border-[#99A1AF]/40 pb-2">Patient Details</h2>

    <div class="grid grid-cols-1 gap-4">
        <div class=" flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">ID</span>
            <span>@Model.PatientId</span>
        </div>
        <div class="flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">Name</span>
            <span>@Model.Name</span>
        </div>
        <div class="flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">Age</span>
            <span>@Model.Age</span>
        </div>
        <div class="flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">Gender</span>
            <span>@Model.Gender</span>
        </div>
        <div class="flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">Phone Number</span>
            <span>@Model.Phonenum</span>
        </div>
        <div class="flex justify-between border-b border-[#99A1AF]/20 pb-2">
            <span class="block font-semibold">Address</span>
            <span>@Model.Address</span>
        </div>
    </div>
    
</div>
<div>
    <i class="fa-solid fa-arrow-left"></i><a href=""> Back </a>
</div>
